@import url('https://fonts.googleapis.com/css?family=Archivo+Black');
@import url('https://fonts.googleapis.com/css?family=Archivo');

body {
    font-family: 'Archivo', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Archivo Black', sans-serif;
}

.spacer {
    margin: 1em;
}

.col-lg-4, .row, .card {
    padding: 0;
    margin: 0;
}

nav {
    font-size: 1.25em;
}

.mybtn {
    color: crimson;
}

.mybtn:hover, .mybtn:focus {
    color: rgb(134, 18, 41);
}